In [19]:
# Importar as bibliotecas necessárias
import pandas as pd
import requests
from io import StringIO

base_url = 'https://raw.githubusercontent.com/jvlopess/sentiment-analysis-naive-bayes/main/data/'
file_names = [f'tweets_part_{i}.csv' for i in range(32)]
urls = [base_url + file_name for file_name in file_names]

# Lista para armazenar os DataFrames
dataframes = []
# Baixar e carregar cada arquivo CSV em um DataFrame
for url in urls:
    response = requests.get(url)
    if response.status_code == 200:
        df = pd.read_csv(StringIO(response.text))
        dataframes.append(df)
    else:
        print(f"Failed to fetch {url}")

# Combinar todos os DataFrames em um único DataFrame
df = pd.concat(dataframes, ignore_index=True)

# Exibir as primeiras linhas do DataFrame combinado
df.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [20]:
 # As the data has no column titles, we will add our own
df.columns = ["label", "time", "date", "query", "username", "tweet"]

df.head()

,label,time,date,query,username,tweet
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [21]:
df = df.sample(frac=1)
df = df[:200000]
print("Dataset shape:", df.shape)

Dataset shape: (200000, 6)

In [22]:
df['label'].unique()

array([0, 4])

### Currently (0=negative,4=Positive) changing the notation to (0=Negative,1=Positive)

In [23]:
df['label']=df['label'].replace(4,1)
df

,label,time,date,query,username,tweet
798558,0,2328607653,Thu Jun 25 09:47:05 PDT 2009,NO_QUERY,josiemus_prime,@madpierrot dead pete though
583292,0,2214895541,Wed Jun 17 17:23:05 PDT 2009,NO_QUERY,Al3xTrUnKs,@journauxit0 I want to laugh too but I didn't...
1138006,1,1976801246,Sat May 30 19:06:42 PDT 2009,NO_QUERY,_Nathan_W_,Ooo ScarFace is on. One of my all time fav mov...
908729,1,1750963845,Sat May 09 18:20:33 PDT 2009,NO_QUERY,twistingaether,@ozdj Can I also have a swirly flat white?
1254687,1,1997140989,Mon Jun 01 16:19:34 PDT 2009,NO_QUERY,huneeb913,ahhh..just venting!
...,...,...,...,...,...,...
444991,0,2067992928,Sun Jun 07 13:18:45 PDT 2009,NO_QUERY,little_mousie,And i think she jus shit her self sad mouse
521433,0,2192413407,Tue Jun 16 07:00:09 PDT 2009,NO_QUERY,bluegrooove,Playing guitar hero alone nobody wants to com...
288146,0,1994490435,Mon Jun 01 12:00:06 PDT 2009,NO_QUERY,acidicice,Goodnight twitter! Working tomorrow FTL
3978,0,1468718044,Tue Apr 07 03:20:51 PDT 2009,NO_QUERY,toddhenry,"Fellow Philip Glass lovers, have you seen thi..."
303337,0,1999418743,Mon Jun 01 20:11:04 PDT 2009,NO_QUERY,ivylovee,"bed time in 20 mins, gotta be up in 6 hrs for ..."

In [24]:
df.drop(['date','query','username'], axis=1, inplace=True)
df.drop('time', axis=1, inplace=True)
df.head(10)

         label                                              tweet
798558       0                      @madpierrot  dead pete though
583292       0  @journauxit0 I want to laugh too  but I didn't...
1138006      1  Ooo ScarFace is on. One of my all time fav mov...
908729       1        @ozdj Can I also have a swirly flat white?
1254687      1                               ahhh..just venting!
1505072      1  @leahcakes thanks  hasnt hit me yet. although ...
28810        0  @Birdsingr  http://bit.ly/anQjU ACE prize winn...
690981       0  heading to the Tiger's game. Of course Mags is...
1073807      1                                I finally back....
1004182      1                                       @rishil lol